
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ----- variables -----*/

:root {
  --yellow-color:  gold;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

@font-face {
  font-family: starwars;
  src: url(/public/font/STARWARS.woff);
}

h1 {
  margin: 0;
}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#root {
  height: 100vh;
}

#root > div {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#site-header {
  padding: 10px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 30px 0;
  background: #111;
}

#site-footer p{
  color: var(--yellow-color);
  text-align: center;
}

#site-main {
  width: 100%;
}

.container {
  width: 100%;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

#site-header ul{
  display: flex;
  justify-content: space-around;
}

a {
  color: var(--yellow-color);
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.movie-card a {
  color: black;
  font-size: 1rem;
}

.loading {
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin:100px auto 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* ---- hero-header ---- */

#hero-header{
  font-family: 'Oswald', sans-serif;
  background: url(./images/space-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative;
}
#hero-header img{
  position: absolute;
}
img.falcon{
    width: 50%;
    max-width: 600px;
    opacity: 0;
    animation: falcon 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation-delay: 20s;
}
img.tie{
    width: 30%;
    max-width: 420px;
    opacity: 0;
    animation: tie 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation-delay: 20s;
}
img.darth{
  width: 70%;
  max-width: 650px;
  transform: translate(-50%);
  opacity: 0;
  animation: darth 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 21s;
}
#hero-header h1{
  width: 100%;
  color: aqua;
  position: absolute;
  font-size: 4em;
  text-align: center;
  opacity: 0;
  animation: opacity 25s ease-in;
}
#hero-header .title-text{
  max-width: 990px;
  margin: 0 auto;
  color:gold;
  position: relative;
  transform: perspective(300px) rotateX(25deg);
}
#hero-header .title-text p{
  font-size: 4em;
  text-align: center;
  line-height: 150%;
  animation: scrolldown 20s ease-in;
  opacity: 0;
}
.hero-characters{
  max-width: 1080px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
p.ironwars-logo{
  font-family: starwars;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin: 5%;
  text-shadow: -2px -2px 0 gold, -2px -1px 0 gold, -2px 0 0 gold, -2px 1px 0 gold, -2px 2px 0 gold, -1px -2px 0 gold, -1px -1px 0 gold, -1px 0 0 gold, -1px 1px 0 gold, -1px 2px 0 gold, 0 -2px 0 gold, 0 -1px 0 gold, 0 0 0 gold, 0 1px 0 gold, 0 2px 0 gold, 1px -2px 0 gold, 1px -1px 0 gold, 1px 0 0 gold, 1px 1px 0 gold, 1px 2px 0 gold, 2px -2px 0 gold, 2px -1px 0 gold, 2px 0 0 gold, 2px 1px 0 gold, 2px 2px 0 gold;
}

@keyframes opacity {
  0% {
    opacity:1; 
  }
  20%{
    opacity:1;
  }
  25%{
    opacity:0; transform:scale(1.2)
  }
}

@keyframes scrolldown {
  0% {
    transform: rotateX(30deg) translateY(75vh); opacity:1 ; 
  }
  75%{
    opacity:1;
  }
  100% {
    transform: rotateX(50deg) translateY(-100vh); opacity:0; ;
  }
}
@keyframes falcon {
  0% {
    opacity: 1;
    top:-50%;
    left: 20%;
  }
  100%{
    opacity: 1;
    left: 50%;
    top:35%;
  }
}
@keyframes tie {
  0% {
    opacity: 1;
    top:-50%;
    left: 80%;
  }
  100%{
    opacity: 1;
    left: 10%;
    top:30%;
  }
}
@keyframes darth {
  0% {
    opacity: 1;
    top:100%;
    left: 50%;
  }
  100%{
    opacity: 1;
    top:20%;
    left: 50%;
  }
}